{% extends 'components/core/base' %}
{% import 'components/core/forms' as forms %}
{% set programming_languages = {
    '':'Choose a Language',
    'c++':"C++",
    'java':"Java",
    'sql':"SQL",
    'python':"Python",

} %}

{% block layout %}
{{ vite('resources/js/text-editor.js')|raw }}
{{ vite('resources/js/app.js')|raw }}

<div class="flex flex-col w-screen overflow-auto pb-8 ">
        {% include 'components/core/header' %}

        {% block content %}
            <div class="flex w-full justify-between p-8">
                <div class="flex flex-col flex-1 p-4">    
                    <div class="flex h-16 max-h-16">
                        <h1 class="text-4xl">Title</h1>
                    </div>            
                    <div class="flex flex-1 max-h-120 bg-gray-600">
                        <div class="flex flex-col flex-1">
                            <div class="w-full bg-gray-800">
                                <h1 class="px-4 py-2 text-gray-50 font-semibold text-lg">
                                    Instruction | Output 
                                </h1>
                            </div>
                            <div class="p-4 text-white">
                                Coding Problem Description Here
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-1 p-4">
                        <div class="flex h-16 pb-8 max-h-16">
                            {{ forms.form_field(
                                label:forms.label(
                                    id:'programming_language', 
                                    content:'Programming Language', 
                                    attributes:{
                                        'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900 after:text-red-500 after:content-[\'\*\']'}
                                        ),
                                input:forms.select(
                                    name:'programming_language', 
                                    values:programming_languages, 
                                    attributes:{
                                        'class':'flex-1 cursor-pointer block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6',
                                        'hx-on:change':'switchLanguageFromEvent(event)'
                                    }
                                )
                            )}}
                        </div>
                      
                        <div class="flex flex-col gap-y-4">
                            <div class="flex flex-col">
                                <h1 class="bg-gray-800 p-2  text-gray-50 font-semibold">Student Solution</h1>
                                <div id="solution-div" class="flex-1 min-h-48 max-h-48 overflow-y-auto text-gray-500 border-1 border-gray-500"></div>
                            </div>
                            <div class="flex flex-col">
                                <h1 class="bg-gray-800 p-2  text-gray-50 font-semibold">Sample Test</h1>
                                <div id="test-case-div" class="flex-1 min-h-48 max-h-48 overflow-y-auto text-gray-500 border-1 border-gray-500"></div>
                            </div>
                        </div>     
                        <div class="flex flex-1 justify-end gap-x-2 py-2">
                            <button form="test-code" type="submit" class="cursor-pointer bg-blue-900 text-gray-200 hover:bg-blue-600 hover:text-white duration-300 rounded-lg px-2 py-1 font-semibold text-md"
                                    hx-on:click="testCode()"
                                    >
                                Test
                            </button>
                            <button type="button" class="cursor-pointer bg-blue-900 text-gray-200 hover:bg-blue-600 hover:text-white duration-300 rounded-lg px-2 py-1 font-semibold text-md">
                                Submit
                            </button>
                        </div>
                        <div id="data-div">
                            replace me with results
                        </div>
                    </div>
                </div>
            </div>

            </div>
        {% endblock %}
    </div>


    <form
        id="test-code" 
        class="hidden"
        hx-post="/test/send-data" 
        hx-include="#programming_language"
        hx-target="#data-div"
        >
        {{ csrf_field() }}
        <textarea class="hidden" name="code" id="code-input" hidden></textarea>
      </form>

{% endblock %}