/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/private/codeInJSON
/private/codingAnswers
/private/codingQuestions
/storage/*.key
/storage/pail
/storage/logs/laravel.log
/storage/logs/*.log
/vendor
.env
.env.backup
.env.production
.env.staging
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
