{% from 'components/core/show-header' import show_header %}
{% from 'components/core/show-item' import show_item %}
{% from 'components/core/index-table' import table %}

<div class="mx-4 p-4" >
    <div class="flex justify-end items-center w-full h-16 p-8 bg-white border-x border-t border-gray-300 rounded-t-2xl">
        <h1>Filter here</h1>
    </div>
    <div class="overflow-auto max-w-full scroll-smooth border-x border-t border-gray-300">
        {{ table(header, rows, url:url, forAdmin:true) }}

    </div>
    <div class="flex justify-end items-center w-full h-16 p-8 bg-white border-x border-b border-gray-300 rounded-b-2xl">
        <h1>Pagination</h1>
    </div>   
</div>
