@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  /* Base (closed) state for all popovers */
  [popover] {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.25s ease;
    transition-behavior: allow-discrete; /* enables smooth close */
  }

  /* Open state for all popovers */
  [popover]:popover-open {
    opacity: 1;
    transform: scale(1);

    @starting-style {
      opacity: 0;
      transform: scale(0.95);
    }
  }
    .dashboard-animate.htmx-added {
        opacity: 0;
        transform: translateY(-40px);
    }

    .dashboard-animate {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.5s ease, transform 1s ease;
    }
    .dashboard-animate-swapping.htmx-swapping {
        opacity: 0;                
        transform: translateY(-50px); 
        transition: opacity 1s ease-out, transform 1s ease-out;
    }

    .htmx-animate {
        opacity: 1;
        transform: scale(1); 
        transition: opacity 0.25s ease, transform 0.25s ease;
    }

    .htmx-animate.htmx-added {
        opacity: 0;
        transform: scale(0.95);
    }

    .htmx-animate-swapping.htmx-swapping {
        opacity: 0;
        transform: scale(0.95);
    }

    .details-animated::details-content {
        interpolate-size: allow-keywords;
        block-size: 0;
        opacity: 0;
        overflow: hidden;
        content-visibility: hidden;
        transition: block-size .4s ease, opacity 0s, content-visibility .4s;
        transition-behavior: allow-discrete;
    }

    .details-animated[open]::details-content {
        block-size: auto;
        opacity: 1;
        content-visibility: visible;
        transition: block-size .4s ease, opacity .3s ease 0.4s;
    }
    
    @keyframes bounce-in-up {
    0% {
        transform: translateY(-20px) scale(0.9);
        opacity: 0;
    }
    60% {
        transform: translateY(5px) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    }

    @keyframes bounce-out-down {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    40% {
        transform: translateY(10px) scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: translateY(-20px) scale(0.9);
        opacity: 0;
    }
    }

    .add-tag-animation {
    animation: bounce-in-up 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    }

    .delete-tag-animation {
    animation: bounce-out-down 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    }
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .swap-highlight {
        @apply border-r-4 border-dotted border-blue-900 pr-2;
    }
  }
