{% from 'components/core/breadcrumbs' import breadcrumb %}

{% extends 'components/core/faculty-layout' %}

{% block content %}

{{ breadcrumb() }}
<div class="flex justify-between items-center mx-4 pr-4">
    <div class="flex items-center justify-start gap-x-2 mx-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-9">
            <path d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" />
        </svg>
        <h1 class="font-bold text-4xl">Reports Management</h1>
    </div>
    {% if can('create subjects') %}
        <button type="button" class="bg-blue-900 text-gray-200 hover:bg-blue-600 hover:text-white duration-300 rounded-lg p-2 font-semibold">Create Report</button>
    {% endif %}
</div>
    <div class="flex flex-wrap gap-4 max-w-full mx-8 my-4 pr-4 rounded-xl bg-white p-8 shadow-sm ring-1 ring-gray-950/5 ">
        {% for i in range(0,5) %}
        <a href="/reports/show">
        <div class="flex flex-col bg-white shadow-sm drop-shadow-xl border border-slate-200 rounded-lg max-h-55 w-55 hover:bg-blue-900 group duration-300">     
            <div class="p-4 overflow-auto">
                <h5 class="mb-2 text-slate-800 text-xl font-bold group-hover:text-white">
                    Exam Name
                </h5>
            </div>
            <div class="flex flex-wrap gap-1 mx-3 border-t border-slate-200 pb-3 pt-2 px-1 ">
                <span class=" inline-flex items-center px-2 py-0.5 min-w-fit  bg-blue-100 rounded-full text-blue-900 font-semibold text-xs select-none"> 
                    BSCPE
                </span>
                <span class=" inline-flex items-center px-2 py-0.5 min-w-fit  bg-blue-100 rounded-full text-blue-900 font-semibold text-xs select-none"> 
                    BSCPE
                </span>
            </div>

        </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}