{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/index-table' import table %}
{% extends 'components/core/base' %}

{% set headers = ['ID', 'Subject', 'Topic', 'Name', 'Type', 'Author', 'Date Created'] %}
{% set rows = [
    ['1', 'Computer Programming 1', 'Functions', 'What is the correct way to create a function in javaWhat is the correct way to create a function in javaWhat is the correct way to create a function in java?', 'Multiple Choice', 'Author_name', '04-19-2025'],
    ['1', 'Computer Programming 1', 'Functions', 'What is the correct way to create a function in java?', 'Multiple Choice', 'Author_name', '04-19-2025'],
    ['1', 'Computer Programming 1', 'Functions', 'What is the correct way to create a function in java?', 'Multiple Choice', 'Author_name', '04-19-2025'],
    ['1', 'Computer Programming 1', 'Functions', 'What is the correct way to create a function in java?', 'Multiple Choice', 'Author_name', '04-19-2025'],

] %}

{% block content %}

{{ breadcrumb() }}
<div class="flex justify-between items-center mx-4 pr-4">
    <h1 class="font-bold text-4xl mx-4 p-2">Question Bank</h1>
    <a href="/questions/create" class="bg-blue-900 text-gray-200 hover:bg-blue-600 hover:text-white duration-300 rounded-lg p-2 font-semibold">Create Question</a>
</div>
<div class="mx-4 p-4">
    <div class="flex justify-end items-center w-full h-16 p-8 bg-white border-x border-t border-gray-300 rounded-t-2xl">
        <h1>Filter here</h1>
    </div>
    <div class="overflow-auto max-w-full scroll-smooth border-x border-t border-gray-300">
        {{ table(headers, rows, url:'questions') }}

    </div>
    <div class="flex justify-end items-center w-full h-16 p-8 bg-white border-x border-b border-gray-300 rounded-b-2xl">
        <h1>Pagination</h1>
    </div>
</div>

{% endblock %}