<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/plugins/SortableMultiDrag/SortableMultiDrag.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/plugins/Swap/Sortable.swap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    {{ vite('resources/css/app.css')|raw }}
    {{ vite('resources/js/app.js')|raw }}
    <title>Thesis Project</title>

</head>
<body class="flex bg-[#fbfbfe]">
    <div id="toast-container" class="fixed bottom-4 right-4 flex flex-col gap-2 z-[9999]"></div>
    {% if session_has('toast') %}
        <div id="server-toast" style="display:none;">
            {{ session_get('toast') }}
        </div>
    {% endif %}

    {% block layout %}

    {% endblock %}
    
</body>

</html>