<div id="name-points-form-error" class="flex gap-x-4 justify-between">
    <span class="text-red-500 text-sm font-semibold whitespace-nowrap italic">{{ errors.get('name')[0] }}</span>  
    <span class="text-red-500 text-sm font-semibold whitespace-nowrap italic">{{ errors.get('points')[0] }}</span>  
</div>

<div id="instruction-form-error">
     <span class="text-red-500 text-sm font-semibold whitespace-nowrap italic">{{ errors.get('instruction')[0] }}</span>  
</div>


<div id="language-form-error">
     <span class="text-red-500 text-sm font-semibold whitespace-nowrap mt-1 italic">{{ errors.get('supported_languages')[0] }}</span>  
</div>

