{% from 'components/core/show-header' import show_header %}
{% import 'components/core/forms' as forms %}

<div id="name-form-error" class="flex gap-x-4 justify-between">
    <span class="text-red-500 text-sm font-semibold whitespace-nowrap italic">{{ errors.get('name')[0] }}</span>  
</div>

<div id="question-level-form-error" class="flex gap-x-4 justify-between">
    <span class="text-red-500 text-sm font-semibold whitespace-nowrap italic">{{ errors.get('question_level')[0] }}</span>  
</div>

