<a href="/student/exams/exam.id">
<div class="relative flex flex-col bg-white shadow-sm drop-shadow-xl border border-slate-200 rounded-lg w-80 hover:bg-blue-900 group duration-300">     
    <div class="mx-3 mb-0 border-b border-slate-200 pt-3 pb-2 px-1 flex justify-between">
        <span class="text-xs font-semibold text-slate-600 group-hover:text-blue-50/75">
            Exam ID: ##
        </span>
        <span class="text-xs text-slate-600 font-semibold group-hover:text-blue-50/75">
            Course: BSCS
        </span>
    </div>

    <div class="p-4">
        <h5 class="mb-2 text-slate-800 text-xl font-bold group-hover:text-white">
            Exam Name...
        </h5>

        <p class="text-xs text-slate-600 leading-normal group-hover:text-white">
            Current Number of Questions: ##/##
        </p>

    </div>
    <div class="mx-3 border-t border-slate-200 pb-3 pt-2 px-1 flex justify-between">
        <span class="text-xs text-green-600 font-medium group-hover:text-green-300">
            Status: (Complete)
        </span>

        <span class="text-xs text-slate-600 font-medium group-hover:text-blue-50/75">
            Last updated: 4 hours ago
        </span>
    </div>
 
</div>
   </a>