{% extends 'components/core/base' %}

{% block layout %}
{% include 'components/core/sidebar' %}
    <div class="flex flex-col ml-64 w-screen overflow-auto pb-8">
        {% include 'components/core/header' %}

        {% block content %}

        {% endblock %}
    </div>
{% endblock %}