{% macro show_header(label, label_attributes) %}
    <div class="mb-2 pb-2 border-b border-gray-300">
        <span class="{{ label_attributes ? label_attributes : 'font-medium text-2xl text-gray-900'}}">
            {{ label }}
        </span> 
    </div>
{% endmacro %}