{% from 'components/core/show-item' import show_item %}

{% for question in questions_in_array %}
<li class="flex justify-between p-1 group">
<button hx-patch="{{ route('student_answer.update', {student_paper : student_paper, question:question} ) }}"
        hx-target="#exam-content"
        hx-headers='{"X-CSRF-TOKEN": "{{ csrf_token() }}"}'
        hx-include="#answer-form"
        hx-swap="innerHTML"
        hx-trigger="click throttle:1000ms"
        hx-vals='{ "action": "jump", "index": {{ question.order_index }} }'
        type="button" 
        class="question-button text-gray-700">
        {{ show_item(loop.index, question.question_type.value|replace({'_': ' '})|lower|capitalize, label_attributes:'group-hover:text-blue-900 duration-150', value_attributes:'group-hover:text-blue-900 duration-150 group-active:underline cursor-pointer')}}
    </button>
</li>
{% endfor %}

<script>
document.body.addEventListener('htmx:afterRequest', function(evt) {
  const clickedBtn = evt.detail.elt;

  if (clickedBtn && clickedBtn.classList.contains('question-button')) {
    // Remove active styles and enable all buttons
    document.querySelectorAll('.question-button').forEach(b => {
      b.classList.remove('text-blue-900', 'font-bold', 'pointer-events-none', 'opacity-50');
      b.disabled = false;
    });

    // Apply active styles and disable the clicked button
    clickedBtn.classList.add('text-blue-900', 'font-bold', 'pointer-events-none', 'opacity-50');
    clickedBtn.disabled = true;
  }
});
</script>

