<div class="flex flex-col my-2 w-full p-4 gap-5 justify-center">
        <div class="flex gap-x-4">
        <div class="bg-white border border-gray-300 rounded-lg shadow-sm p-4 min-w-72 max-w-80 mb-4">
            <div>
                <div class="flex justify-between mt-1">
                        <div class="h-2.5 bg-gray-200 rounded-full w-16 mb-4"></div>
                        <div class="h-2.5 bg-gray-200 rounded-full w-16 mb-4"></div>
                </div>
                <div class="h-0.5 bg-gray-200 rounded-full mb-5"></div>
                <div class="h-4 bg-gray-200 rounded-full w-32 my-4"></div>
                <div class="h-2.5 bg-gray-200 rounded-full w-48 my-4"></div>
                <div class="h-0.5 bg-gray-200 rounded-full mb-5"></div>
                <div class="flex justify-between mt-1">
                        <div class="h-2.5 bg-gray-200 rounded-full w-16 mb-4"></div>
                        <div class="h-2.5 bg-gray-200 rounded-full w-16 mb-4"></div>
                </div>
            </div>
        </div>
        <div class="flex justify-center item-center">
            <h1 class="font-mono font-semibold text-gray-700 m-auto">... No Exams yet</h1>
        </div>
        </div>
</div>