{% from 'components/core/show-header' import show_header %}
{% import 'components/core/forms' as forms %}

{% include 'components/core/create-question-name-form' %}

<div class="flex flex-col p-4 flex-1">
    {{ show_header('Matching Items') }}
    <div class="flex gap-x-32 justify-between w-full">
        <div class="flex flex-col w-full">
            <div class="flex flex-col">
                {% for i in range(1, item_count) %}
                    <div class="flex justify-between">
                        {{ forms.form_field(
                            label:forms.label(
                                id: 'items[]', 
                                content:'First Item ' ~ (i), 
                                attributes:{
                                    'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900 '}
                                ),
                            input:forms.text(
                                name:'items[]',
                                value: old('items')[i - 1],
                                attributes:{
                                    'class':'flex-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 ',
                                    'required':true
                                }),
                            errors:errors.get('items.' ~ (i-1))
                        )}}
                        {{ forms.form_field(
                            label:forms.label(
                                id: 'items[]', 
                                content:'Second Item ' ~ (i), 
                                attributes:{
                                    'class':'whitespace-nowrap text-sm/6 font-medium text-gray-900'}
                                ),
                            input:forms.text(
                                name:'items[]',
                                value: old('items')[i - 1],
                                attributes:{
                                    'class':'flex-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 ',
                                    'required':true
                                }),
                            errors:errors.get('items.' ~ (i-1))
                        )}}
                    </div>   
                {% endfor %}
                <span id="swap"></span>
            </div>
        </div>
        <div class="flex flex-1/5 flex-col gap-y-4 w-full">
            <button 
                type="button" 
                class="cursor-pointer bg-white border-1 border-gray-600 text-gray-900 hover:bg-gray-600 hover:text-white duration-300 rounded-lg px-2 py-2 font-semibold text-sm"
                hx-get="/questions/create/add-item?item_count={{ item_count }}"
                hx-target="#swap"
                hx-swap="beforebegin"
                >
                Add more Items
            </button>
        </div>
    </div>
</div>  
