
<div id="MultipleChoice-content">
    MCQ
</div>

<div id="TrueOrFalse-content">
    True/False
</div>

<div id="Identification-content">
    Identification
</div>

<div id="Ranking-content">
    Ranking
</div>

<div id="Matching-content">
    Mathcing
</div>
