<div id="validate-div" class="bg-gray-800 w-full rounded-xl p-4 my-4">


    <p class="text-gray-100">DATA FROM POST</p>
    {{ dump(data) }}
    <input
        type="hidden"
        id="language-validation-status"
        data-language="{{ data.post_data['language-to-validate'] ?? '' }}"
        data-valid="{{ data.api_data.success is defined and data.api_data.success ? 'true' : 'false' }}"
    />

    {% if errors.any %}
    <ul class="alert alert-danger">
        {% for field, field_errors in errors.getMessages() %}
            {% for error in field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
</div>



