{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/index-table' import table %}
{% extends 'components/core/base' %}

{% set headers = ['ID', 'Name', 'Course', 'Questions', 'Date Created', 'Status'] %}
{% set rows = [
    ['1', 'Computer Science Proficiency Examination', 'BSCS', '48', '02-05-2025', 'Complete'],
    ['2', 'Information Technology Proficiency Examination', 'BSIT', '48', '02-05-2025', 'Incomplete'],
    ['3', 'Computer Engineer Proficiency Examination', 'BSCPE', '48', '02-05-2025', 'Incomplete'],
    ['4', 'Multimedia Arts Proficiency Examination', 'BSMMA', '48', '02-05-2025', 'Incomplete']
] %}

{% block content %}

{{ breadcrumb() }}

<div class="flex justify-between items-center mx-4 pr-4">
    <h1 class="font-bold text-4xl mx-4 p-2">Exam Bank</h1>
    <a href="/exams/create" class="bg-blue-900 text-gray-200 hover:bg-blue-600 hover:text-white duration-300 rounded-lg p-2 font-semibold">Create Exam</a>
</div>
<div class="mx-4 p-4">
    <div class="flex justify-end items-center w-full h-16 p-8 bg-white border-x border-t border-gray-300 rounded-t-2xl">
        <h1>Filter here</h1>
    </div>
    <div class="overflow-auto max-w-full scroll-smooth border-x border-t border-gray-300">
        {{ table(headers, rows, url:'exams') }}

    </div>
    <div class="flex justify-end items-center w-full h-16 p-8 bg-white border-x border-b border-gray-300 rounded-b-2xl">
        <h1>Pagination</h1>
    </div>
</div>

{% endblock %}