<div id="exam-content" class="flex flex-1 flex-col gap-y-4 mx-8 ">
    <div class="flex flex-1">
        <details class="flex flex-1 flex-col bg-white rounded-xl shadow-sm ring-1 ring-gray-950/5">
            <summary class="flex flex-1 p-4 bg-blue-900 text-white font-bold text-lg rounded-xl justify-between">
                Exam Name Record 1
                <button hx-get="/student/exams/exam.id/exam-record.id" 
                        hx-target="#exam-content"
                        hx-swap="outerHTML">
                    See full report
                </button>
            </summary>
                <div class="flex flex-1 flex-col prose max-w-none gap-y-4">
                    <div class="px-4 rounded-2xl text-gray-800">            
                        <table>
                            <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Total Marks</th>
                                <th>Marks Obtained</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Programming Basics</td>
                                    <td>20</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>Data Structures</td>
                                    <td>20</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td>Algorithms</td>
                                    <td>20</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>Computer Architecture</td>
                                    <td>20</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </details>
    </div>
    <div class="flex flex-1">
        <details class="flex flex-1 flex-col bg-white rounded-xl shadow-sm ring-1 ring-gray-950/5">
            <summary class="flex flex-1 p-4 bg-blue-900 text-white font-bold text-lg rounded-xl justify-between">
                Exam Name Record 1
                <button hx-get="/student/exams/exam.id/exam-record.id" 
                        hx-target="#exam-content"
                        hx-swap="outerHTML">
                    See full report
                </button>
            </summary>
                <div class="flex flex-1 flex-col prose max-w-none gap-y-4">
                    <div class="px-4 rounded-2xl text-gray-800">            
                        <table>
                            <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Total Marks</th>
                                <th>Marks Obtained</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Programming Basics</td>
                                    <td>20</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>Data Structures</td>
                                    <td>20</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td>Algorithms</td>
                                    <td>20</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>Computer Architecture</td>
                                    <td>20</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </details>
    </div>
        <div class="flex flex-1">
        <details class="flex flex-1 flex-col bg-white rounded-xl shadow-sm ring-1 ring-gray-950/5">
            <summary class="flex flex-1 p-4 bg-blue-900 text-white font-bold text-lg rounded-xl justify-between">
                Exam Name Record 1
                <button hx-get="/student/exams/exam.id/exam-record.id" 
                        hx-target="#exam-content"
                        hx-swap="outerHTML">
                    See full report
                </button>
            </summary>
                <div class="flex flex-1 flex-col prose max-w-none gap-y-4">
                    <div class="px-4 rounded-2xl text-gray-800">            
                        <table>
                            <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Total Marks</th>
                                <th>Marks Obtained</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Programming Basics</td>
                                    <td>20</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>Data Structures</td>
                                    <td>20</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td>Algorithms</td>
                                    <td>20</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>Computer Architecture</td>
                                    <td>20</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </details>
    </div>
    
</div>