{% from 'components/core/show-nav-item' import show_nav_item %}
{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/show-header' import show_header %}
{% from 'components/core/show-item' import show_item %}


{% extends 'components/core/student-layout' %}

{% block content %}
<div class="ml-8 my-4 max-w-fit">
    <a   href="{{ route('students.index') }}" 
            class="cursor-pointer text-gray-900 hover:text-blue-900 hover:underline">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
        </svg>
    </a>    
</div>
<div class="flex flex-1 flex-col gap-y-4">
    <div class="flex flex-col max-w-full mx-8 rounded-xl bg-white p-4 shadow-sm ring-1 ring-gray-950/5">
            {{ show_header(exam.name|title) }}  
            <div class="flex gap-x-4">
                <button  
                        hx-get="{{ route('exams.student.overview', { exam: exam }) }}" 
                        hx-target="#exam-content"
                        hx-trigger="load, click" 
                        hx-swap="innerHTML"
                        class="cursor-pointer hover:text-blue-900 hover:underline  transition duration-300">
                    Overview
                </button>
                <button 
                        hx-get="{{ route('exam_records.index', { exam: exam }) }}" 
                        hx-target="#exam-content"
                        hx-trigger="click" 
                        hx-swap="innerHTML"
                        class="cursor-pointer hover:text-blue-900 hover:underline transition duration-300">
                    Exam Records
                </button>
            </div>
    </div> 

    <div id="exam-content"></div>

   
</div>

{% endblock %}