{% from 'components/core/show-nav-item' import show_nav_item %}
{% from 'components/core/breadcrumbs' import breadcrumb %}
{% from 'components/core/show-header' import show_header %}
{% from 'components/core/show-item' import show_item %}


{% extends 'components/core/student-layout' %}

{% block content %}
{{ breadcrumb() }}

<div class="flex flex-1 flex-col gap-y-4">
    <div class="flex flex-col max-w-full mx-8 rounded-xl bg-white p-4 shadow-sm ring-1 ring-gray-950/5">
            {{ show_header('Exam Name') }}  
            <div class="flex gap-x-4">
                <button hx-get="/student/exams/exam.id/get-overview" 
                        hx-target="#exam-content"
                        hx-trigger="load, click" 

                        hx-swap="outerHTML">
                    Overview
                </button>
                <button hx-get="/student/exams/exam.id/get-papers" 
                        hx-target="#exam-content"
                        hx-swap="outerHTML">
                    Exam Records
                </button>
            </div>
    </div>  

    <div id="exam-content"></div>

   
</div>

{% endblock %}